<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>@ViewBag.Wedding.WedderOne & @ViewBag.Wedding.WedderTwo</h1>
    <h2>Date: @ViewBag.Wedding.Date</h2>
    <h2>Guests:
        <ul>
            @foreach(var guest in ViewBag.Wedding.RSVPs)
                {
                    <li>@guest.User.First_Name @guest.User.Last_Name</li>
                }
        </ul>
    </h2>

    <div class="side info googleapi">
        <iframe width="520" length="520" src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAQcRAg7ZEMa4L9TRf0QkLlCOdKmtWUMbc&q=@ViewBag.Address" frameborder="0" allowfullscreen></iframe>
    </div>
</body>
</html>